
html,body{
font-family:$font-family-base;
}
header{
	background-color: #ddd9ff;
    position: relative;
}
main{
	background-color:#f0b37e;
}
footer{
	background-color:#ffc7c7;
}
section{
	background-color: #c3ffe4;
    border-bottom: 1px solid #000;
}
h1,h2,h3,h4,h5,h6{
	margin:0;
}
ul,li{
	margin:0;
	padding:0;
	list-style:none;
}
a{
	text-decoration:none;
}