$font-family-base: 'Open Sans';
$fa-font-path:   'app/lib/font-awesome/fonts';
$baseFontSize : 16px;

$primary: #7ed8cf;
$secondary: #ccb284;
$info: #5bc0de;
$success: #8db887;
$warning: #f0a86b;
$danger: #d97e7b;
$inverse: #292b2c;
$faded: #f7f7f7;

$zindex-dropdown-backdrop:  990 !default;
$zindex-navbar:            1000 !default;
$zindex-dropdown:          1000 !default;
$zindex-fixed:             1030 !default;
$zindex-sticky:            1030 !default;
$zindex-modal-backdrop:    1040 !default;
$zindex-modal:             1050 !default;
$zindex-popover:           1060 !default;
$zindex-tooltip:           1070 !default;